<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>
		<style>
			/* Styles de base neutres, le PDF définira sa propre mise en page */
			html,
			body {
				margin: 0;
				padding: 0;
			}
		</style>
		{% block stylesheets %}
		{% endblock %}
	</head>
	<body> {% block header %}{% endblock %}{% block main %}{% endblock %}
		</body>
	</html>
